/* Custom style for Hivery Game */

/**
Andale Mono font
 */
@font-face {
    font-family: AndaleMono;
    src: url("font/Andale Mono.ttf");
}

/**
ConcertOne Font
 */
@font-face {
    font-family: ConcertOne;
    src: url("font/ConcertOne-Regular.ttf");
}

/**
Krungthep Font
 */
@font-face {
    font-family: Krungthep;
    src: url("font/Krungthep.ttf");
}

/****************************** COMMON ******************************/

/**
Generic Background
 */
.background_default {
    width: 100%;
    height: 100%;
    background: url("../img/generic_background.png") no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

/**
Common header showed in the panel image
 */
.panel_header{
    position: relative;
    height: 22%;
    width: 42%;
    left:50%;
    top: -105%;
    font-size: 10vw;
    font-family: ConcertOne;
    text-align: left;
    color: #3d1f0e;
}

/**
Buttons of the game
 */
.button_game {
    border: none;
    cursor: pointer;
}

/**
Text inside the button (PLAY, REPLAY,...)
 */
.button_text p{
    font-size:4vw;
    font-family: ConcertOne;
    color: #ffffff;
}

/**
Common attributes of the paragraphs
 */
.generic_text {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

/**
Common values of an image with the size of the div contained in it
 */
.img_divSize img{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

/**
Sets a div to the center of the screen
 */
.center_div {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
}

/**
The common Top and Height variables to the elements in the middle (Drinks)
 */
.commonHeightDrinks {
    top: 10%;
    height: 80%;
    position: absolute;
}

/**
Making a div not able of selecting the text or elements
 */
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/****************************** INDEX ******************************/

/**
Background INDEX
 */
.background_index {
    width: 100%;
    height: 100%;
    background: url("../img/initial_background.png") no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/}

/****************************** INTRODUCTION ******************************/

/**
Div of the Text box of the introduction
 */
.initial_text_box {
      width: 50%;
      height: 50%;
}

/**
Button PLAY of the introduction Text Box
 */
.button_play_intro{
    position: inherit;
    width: 18%;
    top: 72%;
    height: 12%;
    left: 69%;
    transform: scale(1.5);
    text-align: left;
}

/**
Play text inside the play button
*/
.button_play_intro p{
    position: relative;
    left: 26%;
    margin-top: -35%;
}

/**
The text of the lower part of the guide
 */
.initial_text_box .describe_text{
    top: -118%;
    width: 42%;
    left:50%;
    position: relative;
    font-size: 2.25vw;
    font-family: AndaleMono;
    text-align: left;
    color: #000000;
}

/****************************** GUIDE ******************************/

/**
Div of the Guide box
 */
.guide_box {
      width: 63%;
      height: 63%;
}

/**
Button READY of the Guide Box
 */
.button_guide {
    position: inherit;
    width: 14.5%;
    top: 105%;
    height: 10%;
    left: 83%;
    transform: scale(1.5);
    text-align: left;
}

.button_guide p{
    position: relative;
    left: 21%;
    margin-top: -35%;
}

/**
Upper part of the guide panel
 */
.upper_part_guide {
    position: relative;
    height: 40%;
    width: 100%;
    top: -108%;
}

/**
Text of the skull and of the star
 */
.guide_p {
    position: relative;
    top: -20%;
    left:25%;
    width: 60%;
    font-family: AndaleMono;
    font-size: 3.3vw;
    text-align: left;
    color: #000000;
}

/**
Picture of the star and the skull in the guide text
 */
.icon_img {
    position: relative;
    left: 10%;
    height: 40%;
    width: 10%;
    top: 30%;
}

/**
Lower part of the guide panel
 */
.lower_part_guide {
    position: absolute;
    height: 40%;
    width: 100%;
    top: 50%;
}

/**
Guide label div
 */
.GUIDE {
    position: relative;
    width: 19%;
    height: 14%;
    top: -111%;
    left: 40%;
    text-align: left;
}

/**
Guide Label
 */
.GUIDE p{
    height: 90%;
    width: 90%;
    font-family: ConcertOne;
    font-size: 9.5vw;
    text-align: left;
    color: #3d1f0e;
}

/****************************** GAME ******************************/

/********** MONEYCOUNTER & TIMECOUNTER**********/

/**
The Counter of the Money and Time at the Game Window
 */
.counter {
    position: absolute;
    height: 10%;
}

/**
Counter icon
 */
.counter img{
    position: relative;
    left: 5%;
    height: 90%;
    width: 90%;
    margin-top: 2%;
}

/**
Counter amount
 */
.counter p{
    position: relative;
    left: 36%;
    margin-top: -5.7vh;
    width: 55%;
    height: 60%;
    font-family: ConcertOne;
    font-size: 3.5vw;
    text-align: right;
    color: #fcfcfc;
}

/********** ADVICE **********/

/**
Banner with an advice
 */
.advice_banner{
    position: absolute;
    height: 12%;
}

/**
The advice inside the banner
 */
.advice {
    top: 10%;
    left: 10%;
    height: 110%;
    width: 80%;
    position: relative;
    display: none;
}

/**
The text of the advice
 */
.advice p{
    position: relative;
    left: 25%;
    margin-top: -15%;
    width: 70%;
    height: 60%;
    font-family: AndaleMono;
    font-size: 2.5vw;
    line-height: 2.5vh;
    text-align: left;
    color: #333333;
}

/********** DRINK MACHINE **********/

/**
Where the drinks are stored
 */
.drinks_machine {
    top: 21%;
    left: 10%;
    height: 65%;
    width: 85%;
    position: relative;
}

/**
The image of each drink
 */
.drinks_machine img{
    position: relative;
    top: 5%;
    left: 37.5%;
    height: 65%;
    width: 35%;
    cursor: pointer;
    transition: transform .2s; /* Animation */
}

.drinks_machine img:hover{
    transition: transform .2s; /* Animation */
    transform: scale(1.05);
}

/**
Each drink position (DIV)
 */
.column_machine_drinks div{
    position: relative;
    height: 100%
}

/**
Each row of the drink machine
 */
.drinks_machine .drink_row{
    position: relative;
    height: 33%;
}

/********** ACTUAL DRINK **********/

/**
Div containing the selected drink
 */
.actual_drink_inside {
    position: absolute;
    top: 15%;
    left: 5%;
    height: 70%;
    width: 85%;
}

/**
The actual selected drink
 */
.drink_selected{
    position: relative;
    top: -98%;
    left: 42.5%;
    height: 35%;
    width: 15%;
}

/**
Data of the selected drink
 */
.drink_select_stat{
    position: inherit;
    width: 40%;
    top: 75%;
    margin-top: -5vh;
    font-family: ConcertOne;
    font-size: 4vw;
}

/**
Price of the selected drink
 */
.price_selected {
    left: 20%;

}

/**
unites per day of the selected drink
 */
.units_selected{
    left: 55%;
}

/**
Left arrow in the drink selector
 */
.arrow_left {
    position: relative;
    top: -42vh;
    left: 3.8vw;
    width: 4.8vw;
    height: 11vh;
    border-radius: 40%;
    cursor: pointer;
}

/**
Right arrow in the drink selector
 */
.arrow_right {
    position: relative;
    top: -53.5vh;
    left: 12.7vw;
    width: 4.8vw;
    height: 11vh;
    border-radius: 40%;
    cursor: pointer;
}

/**
Store label
 */
.actual_drink_inside .STORE {
    position: relative;
    width: 45%;
    height: 10%;
    top: -104%;
    left: 30%;
    font-family: ConcertOne;
    font-size: 6.5vw;
    text-align: left;
    color: #3d1f0e;
}

/********** DOWN BUTTON **********/
.down_button{
    position: relative;
    top: -48.5vh;
    left: 2.7vw;
    height: 12vh;
    width: 16vw;
    display: none;
}

.down_button p{
    position: relative;
    left: 10%;
    margin-top: -8vh;
    font-size: 8vw;
}

/********** STATS **********/

/**
 The place where the stats of the drinks is going to be placed
  */
.drinks_stats_inside{
    position: relative;
    top: 15%;
    height: 65%;
    width: 95%;
    font-family: ConcertOne;
}

/**
Table with no bore
 */
.drinks_stats_inside table, tr, td{
    font-size: 2vw;
    text-align: left;
    color: #000000;
    border: none;
}

/**
Table with no bore
 */
.drinks_stats_inside .category{
  font-size: 105%;
}

.drinks_stats_inside td{
  font-size: 150%;
}

/**
Stats of the drinks
 */
.drinks_stats_inside table {
    position: absolute;
    margin-left: 5%;
    top: 20%;
    width: 90%;
}

/**
Row with the names of the drinks
 */
.drinks_name th{
  position: relative;
  transform: rotate(-16deg);
  font-size: 105%;
}

/**
STATS label Div
 */
.drinks_stats_inside .STATS {
    position: relative;
    width: 45%;
    height: 10%;
    top: -104%;
    left: 41%;
    font-size: 6.5vw;
    text-align: left;
    color: #3d1f0e;
}

/**
Panel with the total calculations of the current choice
 */
.total_panel_stats{
    text-align: left;
    top: -44%;
    left: 5%;
    height: 15%;
    width: 90%;
    position: relative;
    font-size: 30px;
}

/**
Font size of the header of the total values
 */
.total_header {
    font-size: 2.5vw;
}

/**
Font size of the total values
 */
.total_values {
  font-size: 4.5vw;
}

/**
Left panel with the calculations of the actual choice
 */
.left_total_panel {
    position: relative;
    height: 100%;
    width: 50%;
}

.totalLeft_down_header {
   position: relative;
   left: 25%;
   top: -35%;
}

.revenue_per_year{
  position: relative;
  top: -60%;
  left: 25%;
 }

/**
Right panel with the calculations of the actual choice
 */
.right_total_panel {
    position: relative;
    height: 100%;
    width: 50%;
    left: 50%;
}

.right_total_panel{
  position: relative;
  left: 65%;
  top: -156%;
}

.cost_per_year{
  position: relative;
  top: -30%;
}

/****************************** GAME OVER ******************************/

/**
DIV containing the GAME OVER text
 */
.game_over_div {
    width: 75%;
    height: 25%;
    font-size: 30px;
}

/**
GAME OVER text
 */
.game_over_div .game_over_text{
  width: 100%;
  height: 100%;
  font-family: Krungthep;
  font-size: 1100%;
  line-height: normal;
  text-align: center;
  color: #ffffff;
}

/****************************** REPLAY ******************************/

/**
Div of the Text box of the Replay page
 */
.replay_text_box {
      width: 50%;
      height: 50%;
}

/**
Common font for the replay text
 */
.replay_p{
      font-family: AndaleMono;
      font-size: 2.5vw;
      text-align: left;
      color: #000000;
}

/**
Button REPLAY of the Replay Text Box
 */
.button_replay {
    position: inherit;
    width: 18%;
    top: 62%;
    height: 12%;
    left: 59%;
    transform: scale(1.5);
    text-align: left;
}

/**
REPLAY text inside the replay button
*/
.button_replay p{
    position: relative;
    left: 12%;
    margin-top: -37%;
    font-size:4.5vw;
}

/**
Text inside the replay box
 */
.replay_text_box  .replay_text{
    position: relative;
    top: -120%;
    width: 42%;
    left:50%;
}

/**
Link to the best machine inside the replay box
 */
.best_machine_text{
    position: relative;
    top: -47vh;
    width: 42%;
    left:50%;
    text-decoration: underline;
    cursor: pointer;
}